@import url('https://fonts.googleapis.com/css2?family=LXGW+Marker+Gothic&display=swap');

:root { 
    --size: 16px; 
    --font: "LXGW Marker Gothic", sans-serif;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
 scroll-behavior: smooth; 
}

.container { 
    width: 100%;
    height: 100%;
    font-family: var(--font);
}

button { 
    font-family: var(--font);

}

/* HomePage */

header { 
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

header nav { 
    width: 100%;
    height: 3em;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 0 1em; 
}


header nav div.logotype picture img { 
    width: 60px;
    height: 60px;
    border-radius: 100%
}

header nav .sections { 
    display: flex; 
    gap: 2em;
}

header nav .sections > a { 
    text-decoration: none;
    color: #000;
}   

header nav div.contact-btn button { 
    padding: 10px;
}

header .hero { 
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    gap: 2em;
    text-align: center;
}

header .hero h1 { 
    font-size: calc(var(--size) * 5); 
    width: 70%;
}

header .hero p { 
    font-size: 24px;
    width: 50%;
}

header .hero .btn-cta { 
    display: flex;
    gap: 1em; 
}

header .hero .btn-cta button { 
    padding: 1em; 
    font-size: 1em; 
    border-radius: 10px; 
    outline: none; 
    border: none; 
}

header .hero { 
    position: relative; 
    left: 0;
    top: 0; 
    background-image: url("public/images/background.jpeg"); 
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}


header .hero .opacity-background { 
    position: absolute;
    z-index: -2; 
    width: 100%;
    height: 100vh;
    background: #000; 
}
/* Main */

main section.about-me { 
    width: 100%;
    min-height: 70vh;
    display: flex; 
    flex-flow: column nowrap; 
    align-items: center; 
}

main section.about-me > h2 { 
    font-size: 30px; 
}

main section.about-me .about-me-content { 
    width: 70%; 
    margin: auto; 
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2em;
    margin-top: 2rem; 
}

main section.about-me .about-me-content .about-me-information { 
    display: flex; 
    width: 70%; 
    flex-flow: column nowrap; 
    gap: 2em; 
}

main section.about-me .about-me-content .about-me-information div { 
    display: flex; 
    flex-flow: column nowrap; 
    gap: 1em;
}

main section.about-me .about-me-content .about-me-information div span { 
    font-size: calc(var(--size) * 2)
} 


main section.pineapple-process { 
    width: 100%;
    min-height: 80vh;
    margin:  4rem 0; 
    display: flex; 
    flex-flow: column nowrap; 
    align-items: center;
    gap: 2.5rem; 
}

main section.pineapple-process h3#title { 
    font-size: calc(var(--size) * 2)
}

main section.pineapple-process #process { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    height: 300px;
    gap: 2em;
}

main section.pineapple-process #process .container-button { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em; 
    text-align: center;
}

main section.pineapple-process #process .container-button button {
    background: #15c303;
}


main section.other-products { 
    width: 100%;
    min-height: 70vh;
} 

.modal { 
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.4);
    overflow: auto;
    display: flex; 
    align-content: center;
    transition: ease 300ms;
}

.modal-content { 
    width: 50%;
    margin: auto; 
    background: #fff; 
    display: flex; 
    padding: 1.5em;
    transition: ease 300ms; 
    animation: openModal 500ms; 
}

.btn-process { 
    outline: none; 
    border: none;  
    border-radius: 100%;
    padding: 20px; 
}

.btn-process:hover { 
    cursor: pointer; 
}
 
.btn-close { 
    cursor: pointer; 
}

/* animations */

@keyframes openModal { 
    0% { 
        scale: .5;
        opacity: .5;
    }

    100% { 
        scale: 1;
        opacity: 1;
    }
}

@keyframes closeModal { 
    0% { 
        scale: 1;
        opacity: 1;
    }

    100% { 
        scale: .5;
        opacity: .5;
    }
}